*,*::after,*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: cornflowerblue;
    font-size: 2em;
}

p{
    font-size: 8px;
    color: #3338;
}